@use '../utils' as *;
@use  './typography' as *;
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: $standard;
    font-family: $family;
    background-color: $almost-white;
}
